@font-face {
  font-family: 'slate';
  src:font-url('slate.eot?-syv14m');
  src:font-url('slate.eot?#iefix-syv14m') format('embedded-opentype'),
    font-url('slate.woff2?-syv14m') format('woff2'),
    font-url('slate.woff?-syv14m') format('woff'),
    font-url('slate.ttf?-syv14m') format('truetype'),
    font-url('slate.svg?-syv14m#slate') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon {
  font-family: 'slate';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

%icon-exclamation-sign {
  @extend %icon;
  content: "\e600";
}
%icon-info-sign {
  @extend %icon;
  content: "\e602";
}
%icon-ok-sign {
  @extend %icon;
  content: "\e606";
}
%icon-search {
  @extend %icon;
  content: "\e607";
}

@font-face {
  font-family: 'Cera Pro';
  src: url('https://objects-qc.cloud.ca/v1/2b2f7dde75e641a1ab2baa3dbcba208f/public/webfonts/cerapro-regular-webfont.woff2') format('woff2'),
       url('https://objects-qc.cloud.ca/v1/2b2f7dde75e641a1ab2baa3dbcba208f/public/webfonts/cerapro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cera Pro';
  src: url('https://objects-qc.cloud.ca/v1/2b2f7dde75e641a1ab2baa3dbcba208f/public/webfonts/cerapro-medium-webfont.woff2') format('woff2'),
       url('https://objects-qc.cloud.ca/v1/2b2f7dde75e641a1ab2baa3dbcba208f/public/webfonts/cerapro-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
